In [5]:
%pip install kagglehub

Requirement already satisfied: kagglehub in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (0.4.3)
Requirement already satisfied: kagglesdk<1.0,>=0.1.14 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglehub) (0.1.15)
Requirement already satisfied: packaging in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglehub) (26.0)
Requirement already satisfied: pyyaml in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglehub) (4.67.3)
Requirement already satisfied: protobuf in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from kagglesdk<1.0,>=0.1.14->kagglehub) (6.33.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from requests->kagglehub) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from requests->kagglehub) (2026.1.4)

[notice] A new release of pip is available: 25.1.1 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yasserh/titanic-dataset")

print("Path to dataset files:", path)

Path to dataset files: /home/aastha_same/.cache/kagglehub/datasets/yasserh/titanic-dataset/versions/1

In [8]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.22.4 (from pandas)
  Using cached numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
Using cached numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]━━━━ 3/4 [pandas]
Successfully installed numpy-2.2.6 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

[notice] A new release of pip is available: 25.1.1 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [9]:
%pip install numpy

Requirement already satisfied: numpy in /home/aastha_same/Documents/Programming/Machine-Learning/Supervised_learning_From_Practices/.env/lib/python3.10/site-packages (2.2.6)

[notice] A new release of pip is available: 25.1.1 -> 26.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import numpy as np
import os

In [12]:
for i in os.listdir(path):
    print(i)

Titanic-Dataset.csv

In [13]:
df=pd.read_csv(os.path.join(path,'Titanic-Dataset.csv'))

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB